{% extends "base.html" %}

{%block title%}{{post.title}}{%endblock%}
{% block page_title %} {{post.title}} {% endblock page_title %}

{%block content%}

<a class="btn btn-outline-primary" href="{% url 'homepage:index' %}">Back to Posts</a>
<div class="post-preview" style="padding-top: 15px;">

    <p class="blog-post-meta"> 
        <h2>{{post.title}} </h2> by {{post.author}} </p>
    <div class = "alert alert-secondary" role="alert">{{post.description|linebreaks}} </div>
    
  </div>
        {% if user.is_authenticated %}
            <nav class="blog-pagination" >
                <a class="btn btn-outline-primary" href="{% url 'homepage:post_edit' pk=post.pk %}"><i class="fa fa-edit"></i>  Edit</a>
                <a href="{% url 'homepage:delete_post' pk=post.pk %}" class="btn btn-outline-danger"><i class="fa fa-trash"></i> Delete</a>

            </nav>
            
        {% endif %}
{%endblock content%}

{% block pagination %}

{% endblock pagination %}